<launch>

  <arg name="map" default="$(find rssi2distance)/config/default_map.yaml"/>
  <arg name="receiver_cfg" default="$(find rssi2distance)/config/default_receiver.yaml"/>


  <rosparam file="$(arg map)" ns="beacon_localization/map" command="load" />
  <rosparam file="$(arg receiver_cfg)" ns="beacon_localization/receiver" command="load" />

  <node name="beacons_tf_publisher" pkg="rssi2distance" type="beacons_tf_publisher.py" respawn="true"
     output="screen"/>
  <node name="rssi2distance" pkg="rssi2distance" type="rssi2distance.py" respawn="false"
    output="screen"/>


</launch>